[submodule "Blockly"]
	path = Blockly
	url = https://github.com/ValentinHerrmann/Blockly2Java.git
[submodule "javafx-sdk-21.0.1"]
	path = javafx-sdk-21.0.1
	url = https://github.com/ValentinHerrmann/javafx-sdk-21.0.1.git
[submodule "jcefsampleapp"]
	path = jcefsampleapp
	url = https://github.com/ValentinHerrmann/jcefsampleapp.git
[submodule "Gameboard"]
	path = Gameboard
	url = https://github.com/ValentinHerrmann/Gameboard.git
