[submodule "Blockly"]
	path = Blockly
	url = https://gitlab.lrz.de/bluejblocklygroup/Blockly.git
[submodule "javafx-sdk-21.0.1"]
	path = javafx-sdk-21.0.1
	url = https://gitlab.lrz.de/bluejblocklygroup/javafx-sdk-21.0.1.git
[submodule "jcefsampleapp"]
	path = jcefsampleapp
	url = https://gitlab.lrz.de/bluejblocklygroup/jcefsampleapp.git
[submodule "extensions2"]
	path = extensions2
	url = https://gitlab.lrz.de/bluejblocklygroup/extensions2.git
[submodule "Gameboard"]
	path = Gameboard
	url = https://github.com/ValentinHerrmann/Gameboard.git
